.start-check-btn {
 width: 200px;
 height: 100px;
 background-color: green;
 border-radius: 7px;
 color: white;
 font-size: 20px;
 text-align: center;
}

.container {
 width: 50%;
 margin: 0 auto;
 padding-top: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.situative-picture {
 opacity: 0;
 transition: all 2s;
}